{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
{% if grav.page.header.gitrepolink %}
  {% set gitrepoURL = grav.page.header.gitrepolink %}
{% else %}
  {% set gitrepoURL = particle.url ~ ('/'~grav.page.filePathClean)|replace({'/user/':''}) %}
{% endif %}
<div class="edit_page_with_git {{ particle.css.class }}">
  <a href="{{ gitrepoURL }}" title="Edit this Page" target="blank">
    {% if particle.icon %}
      <i class="fa fa-{{ particle.icon }}" aria-hidden="true"></i>
    {% endif %}
    Edit this Page</a>
{% endblock %}
